<head>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
	<link href="/assets/lightbox.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<title>{{ page.title }}</title>
</head>