<nav class="p-3 bg-black flex items-center justify-between">
	<a href="/">
		<p class="text-sm leading-none text-gray-300">Hostal</p>
		<p class="text-xl leading-none text-white">Casabarco</p>
		<p class="text-md leading-none text-sky-200">Mancora</p>
	</a>
	<div class="grid grid-cols-2 md:flex md:space-x-2 text-white">
		<a href="/mancora" class="p-1 underline">Home</a>
		<a href="/mancora/gallery" class="p-1 underline">Gallery</a>
		<a href="/mancora/rates" class="p-1 underline">Rates</a>
		<a href="/mancora/contact" class="p-1 underline">Contact</a>
	</div>
</nav>
