<nav
	class="t_main_nav p-3 flex items-center justify-between bg-gradient-to-r from-sky-700 to-sky-900"
>
	<a href="/">
		<p class="text-sm leading-none text-gray-300">Hostal</p>
		<p class="text-xl leading-none text-white font-semibold">Casabarco</p>
		<p class="text-md leading-tight text-sky-200">Punta Hermosa</p>
	</a>
	<div class="grid grid-cols-2 md:flex md:space-x-2 text-white">
		<a href="/punta-hermosa" class="p-1 underline">Home</a>
		<a href="/punta-hermosa/gallery" class="p-1 underline">Gallery</a>
		<a href="/punta-hermosa/rates" class="p-1 underline">Rates</a>
	</div>
</nav>
<div class="h-2 bg-sky-700"></div>
<div class="h-1 bg-sky-500"></div>
