<nav class="p-3 bg-black flex items-center">
	<a href="/" class="text-white mr-8 no-underline">
		<img src="/assets/logo-sml.png">
	</a>
	<div class="space-x-3">
		<a href="/punta-hermosa" class="text-white no-underline">Home</a>
		<a href="/punta-hermosa/gallery" class="text-white no-underline">Gallery</a>
		<a href="/punta-hermosa/rates" class="text-white no-underline">Rates</a>
		<a href="/punta-hermosa/contact" class="text-white no-underline">Contact</a>
	</div>
</nav>
<div class="h-2 bg-yellow-600"></div>