<nav class="t_main_nav p-3 bg-sky-900 flex items-center justify-between">
	<a href="/">
		<p class="text-sm leading-none text-gray-300">Hostal</p>
		<p class="text-xl leading-none text-white">Casabarco</p>
		<p class="text-md leading-none text-sky-200">Punta Hermosa</p>
	</a>
	<div class="space-x-3">
		<a href="/punta-hermosa" class="text-white no-underline">Home</a>
		<a href="/punta-hermosa/gallery" class="text-white no-underline">Gallery</a>
		<a href="/punta-hermosa/rates" class="text-white no-underline">Rates</a>
	</div>
</nav>
<div class="h-2 bg-sky-700"></div>
