<ul class="list-disc list-outside text-gray-500 pl-4 text-sm">
	<li class="text-black">
		<span class="font-bold">N.R.</span> = Tourist and non residents
	</li>
	<li class="text-black">
		<span class="font-bold">P.R.</span> = Peruvian residents
	</li>
	<li>All prices includes service and taxes.</li>
	<li>Price for non-residents is exempted from local taxes (IGV).</li>
	<li>
		Shown prices are not applicable for Easter, July 26th - August 2nd,
		Christmas and New Year's eve, please contact us for current prices for these
		holidays.
	</li>
	<li>
		If occupancy rates are higher than 80% prices may increase without notice.
	</li>
</ul>
