<div class="flex justify-center py-8">
	<div class="text-gray-500 max-w-xl">
		<p class="">
			All prices includes service and taxes.
		</p>

		<ul class="pl-4 mt-6 list-disc list-outside">
			<li><sup>*1</sup> Price for non-residents is exempted from local taxes (IGV).</li>
			<li><sup>*2</sup> Shown prices are not applicable for Easter, July 26th - August 2nd, Christmas and New Year's eve, please contact us for current prices for these holidays.</li>
			<li><sup>*3</sup> If occupancy rates are higher than 80% prices may increase without notice.</li>
		</ul>
	</div>
</div>