<div
	class="border border-4 border-sky-400 bg-white p-2 flex items-center space-x-3"
>
	<div>
		<a target="_blank" href="http://www.tripadvisor.com">
			<img
				style="border: none; margin: 0"
				src="http://www.tripadvisor.com/img/cdsi/img2/branding/identity125x20-12096-2.gif"
				alt="TripAdvisor"
			/>
		</a>
	</div>

	<div>
		<a
			target="_blank"
			class="underline"
			href="http://www.tripadvisor.com/Hotel_Review-g635976-d775403-Reviews-Hotel_CasaBarco-Mancora.html"
			>Hotel CasaBarco</a
		>
	</div>
</div>
