---
layout: mancora.liquid
title: Contact Us
---
<div class="pt-8">
	<p>
		Casabarco Mancora
	</p>
	<p>
		Las Pocitas<br />
		Mancora<br />
		Piura - Peru<br />
	</p>
	<p class="font-semibold">
	(+51 73) 794 461
	</p>
	<p class="font-semibold">
	casabarcomancora@gmail.com
	</p>
</div>
<div class="pt-8">
	<iframe width="768" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;s=AARTsJoPOEMfots9qYW_pBNGHIDLAwKpTw&amp;msa=0&amp;msid=118095820405331246651.000443ff6b8ffb5dd55ff&amp;ll=-9.015302,-75.761719&amp;spn=20.722148,26.367188&amp;z=5&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;msa=0&amp;msid=118095820405331246651.000443ff6b8ffb5dd55ff&amp;ll=-9.015302,-75.761719&amp;spn=20.722148,26.367188&amp;z=5&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

</div>
