---
layout: mancora.liquid
title: Gallery
---

{% include "page-title.liquid" title: "Live cam" %}

<div class="flex justify-center">
	{% include "mancora-webcam.html" %}
</div>

{% include "page-title.liquid" title: "Gallery" %}

<div>
	<img src="/assets/mancora/gallery/m02.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m03.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m04.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m05.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m06.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m07.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m08.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m09.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m10.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m11.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m12.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m13.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m14.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m16.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m17.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m18.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m20.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m21.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m26.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m27.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m28.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m29.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m30.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m31.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m32.jpg" class="w-full" />
</div>
<div>
	<img src="/assets/mancora/gallery/m33.jpg" class="w-full" />
</div>
