---
layout: ph.liquid
title: Casabarco Punta Hermosa
---

<div>
	<img src="/assets/ph/slider/002.jpg" class="w-full">
</div>

{% include "page-title.liquid" title: "Welcome to Casabarco Punta Hermosa" %}

<p>Casabarco Punta Hermosa offers you best facilities for a relaxing holiday just 40km south from Lima.</p>

{% include "page-subtitle.liquid" title: "About Us" %}

<ul class="list-disc list-inside md:grid grid-cols-2">
	<li>25 rooms</li>
	<li>Cable TV</li>
	<li>Wireless internet</li>
	<li>Restaurant and bar</li>
	<li>Laundry valet</li>
	<li>Safe deposit box in each room</li>
	<li>Fax, copying</li>
	<li>Room service 8am-10pm</li>
	<li>Check-in: 2:00pm Check-out: 12pm</li>
	<li>Credit cards: American Express, VISA, Mastercard, Dinners</li>
</ul>

{% include "page-subtitle.liquid" title: "Find Us" %}

<div>
	<p>
		Casabarco Punta Hermosa
	</p>
	<p>
		Av. Punta Hermosa 340<br />
		Punta Hermosa<br />
		Lima - Peru<br />
	</p>
</div>
<div>
	<p class="font-semibold">
		+51 981 298 241
	</p>
	<p class="font-semibold">
		(51-1) 230-7081
	</p>
</div>
<div>
	<p class="font-semibold">
		casabarcopuntahermosa@gmail.com
	</p>
</div>

<div>
<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
	src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;s=AARTsJpVYSZmkSZCy8Cg4z2pbomYktHyYg&amp;msa=0&amp;msid=118095820405331246651.000443ff468ef6c5ca1ef&amp;ll=-12.185677,-77.007294&amp;spn=0.469821,0.823975&amp;z=10&amp;output=embed"></iframe><br /><small><a
		href="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;msa=0&amp;msid=118095820405331246651.000443ff468ef6c5ca1ef&amp;ll=-12.185677,-77.007294&amp;spn=0.469821,0.823975&amp;z=10&amp;source=embed"
		style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
