---
layout: default.liquid
title: Welcome to Casabarco Mancora
---
{% include "mancora-navigation.html" %}

<div>
	<img src="/assets/mancora/slider/001.jpg" class="w-full">
</div>


<div class="flex justify-center py-8 bg-white">
	<div class="max-w-3xl px-4 space-y-4">
		<h1 class="text-2xl font-semibold">{{ page.title }}</h1>
		<p>Blessed with great weather all year around Mancora is one of the most beautiful beaches in Peru. Casabarco is the perfect place to come and relax, enjoy the Mancora nightlife or go surfing. Casabarco offers you the best of Mancora.</p>
		<h2 class="text-lg font-semibold">About</h2>

		<ul class="list-disc list-inside md:grid grid-cols-2">
			<li>8 rooms</li>
			<li>A/C in all rooms</li>
			<li>Safe deposit box in each room</li>
			<li>Wireless internet</li>
			<li>Direct TV in the Lobby</li>
			<li>Bar</li>
			<li>Snacks</li>
			<li>Check-in: 2:00pm Check-out: 12pm</li>
			<li>Credit cards: American Express, VISA, Mastercard, Dinners</li>
		</ul>

		<div class="flex justify-center">
			{% include "mancora-webcam.html" %}
		</div>
	</div>
</div>

{% include "footer.html" %}
