<!DOCTYPE html>
<html>
	{% include "head.html" %}
	<body>
		{% include "mancora-navigation.html" %}
		<main class="p-6 pb-20 flex justify-center">
			<div class="max-w-3xl">
				{% include "page-title.liquid" title: page.title %}
				{{ page.content }}
			</div>
		</main>
		{% include "footer.html" %}
		<script src="/assets/lightbox.min.js"></script>
	</body>
</html>
