<!DOCTYPE html>
<html>
	{% include "head.html" %}
	<body class="bg-sky-200">
		{% include "ph-navigation.html" %}
		<main class="flex justify-center py-8 bg-white">
			<div class="max-w-3xl px-4 space-y-4">
				{{ page.content }}
			</div>
		</main>
		{% include "footer.html" %}
	</body>
</html>
