---
layout: ph.liquid
title: Contact Us
---
<div class="pt-8">
	<p>
		Casabarco Punta Hermosa
	</p>
	<p>
		Av. Punta Hermosa 340<br />
		Punta Hermosa<br />
		Lima - Peru<br />
	</p>
	<p class="font-semibold">
		+51 981 298 241
	</p>
	<p class="font-semibold">
		(51-1) 230-7081
	</p>
	<p class="font-semibold">
		casabarcopuntahermosa@gmail.com
	</p>
</div>
<div class="pt-8">
	<iframe width="768" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
		src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;s=AARTsJpVYSZmkSZCy8Cg4z2pbomYktHyYg&amp;msa=0&amp;msid=118095820405331246651.000443ff468ef6c5ca1ef&amp;ll=-12.185677,-77.007294&amp;spn=0.469821,0.823975&amp;z=10&amp;output=embed"></iframe><br /><small><a
			href="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;msa=0&amp;msid=118095820405331246651.000443ff468ef6c5ca1ef&amp;ll=-12.185677,-77.007294&amp;spn=0.469821,0.823975&amp;z=10&amp;source=embed"
			style="color:#0000FF;text-align:left">View Larger Map</a></small>

</div>