{% extends "mancora.html" %}

{% block content %}
<h1>Gallery</h1>

<section class="row gallery">
	<div class="col-md-2">
		<a href="/mancora/gallery/m01.jpg" class="thumbnail"  data-lightbox="gallery" >
			<img src="/mancora/gallery/m01t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m02.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m02t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m03.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m03t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m04.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m04t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m05.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m05t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m06.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m06t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m07.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m07t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m08.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m08t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m09.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m09t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m10.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m10t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m11.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m11t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m12.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m12t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m13.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m13t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m14.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m14t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m16.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m16t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m17.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m17t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m18.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m18t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m20.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m20t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m21.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m21t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m26.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m26t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m27.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m27t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m28.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m28t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m29.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m29t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m30.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m30t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m31.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m31t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m32.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m32t.jpg" alt="..." />
		</a>
	</div>
	<div class="col-md-2">
		<a href="/mancora/gallery/m33.jpg" class="thumbnail" data-lightbox="gallery" >
			<img src="/mancora/gallery/m33t.jpg" alt="..." />
		</a>
	</div>
</section>

{% endblock content %}