{% extends "mancora.html" %}

{% block content %}
<h1>Rates</h1>

<table class="table" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="td1" valign="middle">
<p class="p1">&nbsp;</p>
</td>
<td class="td3" valign="middle">
<p class="p2"><strong>Inclusions</strong></p>
</td>
<td class="td4" valign="middle">
<p class="p2"><strong>For tourist and</strong></p>
<p class="p2"><strong>non residents </strong><span class="s1"><strong><sup>*1 *2 *3 &nbsp;</sup></strong></span></p>
</td>
<td class="td5" valign="middle">
<p class="p3"><strong>For peruvian</strong></p>
<p class="p3"><strong>residents </strong><span class="s1"><strong><sup>*2 *3</sup></strong></span></p>
</td>
</tr>
<tr>
<td class="td1" valign="top">
<p class="p2">Ocean view suite</p>
</td>
<td class="td7" valign="top">
<p class="p2">Satellite TV<br> Mini bar<br> Safe deposit box<br> Breakfast for two<br> Terrace and hammock</p>
</td>
<td class="td8" valign="top">
<p class="p3">US$ 159.5</p>
</td>
<td class="td9" valign="top">
<p class="p3">US$ 185</p>
</td>
</tr>
<tr>
<td class="td10" valign="top">
<p class="p2">Family Room for four</p>
</td>
<td class="td12" valign="top">
<p class="p2">Satellite TV<br> Mini bar<br> Safe deposit box<br> Breakfast for two<br> Terrace and hammock</p>
</td>
<td class="td13" valign="top">
<p class="p3">US$ 187</p>
</td>
<td class="td14" valign="top">
<p class="p3">US$ 220</p>
</td>
</tr>
<tr>
<td class="td1" valign="top">
<p class="p2">Ocean view junior suite</p>
</td>
<td class="td7" valign="top">
<p class="p2">TV with DVD player<br> Mini bar<br> Safe deposit box<br> Breakfast for two<br> Terrace and hammock</p>
</td>
<td class="td8" valign="top">
<p class="p3">US$ 140</p>
</td>
<td class="td9" valign="top">
<p class="p3">US$ 165</p>
</td>
</tr>
<tr>
<td class="td10" valign="top">
<p class="p2">Ocean view room&nbsp;</p>
</td>
<td class="td12" valign="top">
<p class="p2">TV with DVD player<br> Mini bar<br> Safe deposit box<br> Breakfast for two<br> Terrace and hammock</p>
</td>
<td class="td13" valign="top">
<p class="p3">US$ 120</p>
</td>
<td class="td14" valign="top">
<p class="p3">US$ 145</p>
</td>
</tr>
<tr>
<td class="td1" valign="top">
<p class="p2">Standard non ocean view</p>
</td>
<td class="td7" valign="top">
<p class="p2">TV with DVD player<br> Mini bar<br> Safe deposit box<br> Breakfast for two</p>
</td>
<td class="td8" valign="top">
<p class="p3">US$ 110</p>
</td>
<td class="td9" valign="top">
<p class="p3">US$ 128</p>
</td>
</tr>
<tr>
<td class="td10" valign="top">
<p class="p2">Bungalow for four</p>
</td>
<td class="td12" valign="top">
<p class="p2">Satellive TV<br> Mini bar<br> Safe deposit box<br> Breakfast for four<br> Terrace and hammock</p>
</td>
<td class="td13" valign="top">
<p class="p3">US$ 220</p>
</td>
<td class="td14" valign="top">
<p class="p3">US$ 260</p>
</td>
</tr>
<tr>
<td class="td1" valign="top">
<p class="p2">Additional bed</p>
</td>
<td class="td7" valign="top">
<p class="p2">Available only in the</p>
<p class="p2">Standard non ocean</p>
<p class="p2">view room and the</p>
<p class="p2">Ocean view Suite</p>
</td>
<td class="td8" valign="top">
<p class="p3">US$ 50</p>
</td>
<td class="td9" valign="top">
<p class="p3">US$ 50</p>
</td>
</tr>
</tbody>
</table>

<p>All prices includes service and taxes.<br>*1 Price for non residents is exempted from local taxes (IGV).<br>*2 Shown prices are not applicable for Easter, July 26th - August 2nd, Christmas and New Year's eve, please contact us for current prices for these holidays.<br>*3 If occupancy rates are higher than 80% prices may increase without notice</p>
{% endblock content %}


