{% extends "page.html" %}

{% block navigation %}
<nav class="p-3 bg-black">
	<a href="{{ get_url(path="./mancora/index.md") }}" class="text-white mr-3 no-underline">Home</a>
	<a href="{{ get_url(path="/mancora/gallery") }}" class="text-white mr-3 no-underline">Gallery</a>
	<a href="{{ get_url(path="/mancora/rates") }}" class="text-white mr-3 no-underline">Rates</a>
	<a href="{{ get_url(path="/mancora/contact") }}" class="text-white mr-3 no-underline">Contact</a>
	<a href="{{ get_url(path="/mancora/surf-report") }}" class="text-white no-underline">Surf Report</a>
</nav>
{% endblock navigation %}
