{% extends "mancora.html" %}

{% block content %}
<h1>Rates</h1>

<table class="w-full">
	<tbody>
		<tr>
			<th>
				&nbsp;
			</th>
			<th>
				Inclusions
			</th>
			<th class="text-right">
				For tourist and <br /> non residents <sup>*1 *2 *3 &nbsp;</sup>
			</th>
			<th class="text-right">
				For peruvian <br />residents <sup>*2 *3</sup>
			</th>
		</tr>
		<tr>
			<td class="font-bold">
				Ocean view suite
			</td>
			<td>
				Satellite TV<br>
				Mini bar<br>
				Safe deposit box<br>
				Breakfast for two<br>
				Terrace and hammock
			</td>
			<td class="text-right">
				US$ 130
			</td>
			<td class="text-right">
				US$ 150
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Family Room for four
			</td>
			<td>
				Satellite TV<br>
				Mini bar<br>
				Safe deposit box<br>
				Breakfast for two<br>
				Terrace and hammock
			</td>
			<td class="text-right">
				US$ 170
			</td>
			<td class="text-right">
				US$ 205
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Ocean view junior suite
			</td>
			<td>
				TV with DVD player<br>
				Mini bar<br>
				Safe deposit box<br>
				Breakfast for two<br>
				Terrace and hammock
			</td>
			<td class="text-right">
				US$ 110
			</td>
			<td class="text-right">
				US$ 130
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Ocean view room
			</td>
			<td>
				TV with DVD player<br>
				Mini bar<br>
				Safe deposit box<br>
				Breakfast for two<br>
				Terrace and hammock
			</td>
			<td class="text-right">
				US$ 100
			</td>
			<td class="text-right">
				US$ 118
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Standard non ocean view
			</td>
			<td>
				TV with DVD player<br>
				Mini bar<br>
				Safe deposit box<br>
				Breakfast for two
			</td>
			<td class="text-right">
				US$ 90
			</td>
			<td class="text-right">
				US$ 105
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Bungalow for four
			</td>
			<td>
				Satellive TV<br>
				Mini bar<br>
				Safe deposit box<br>
				Breakfast for four<br>
				Terrace and hammock
			</td>
			<td class="text-right">
				US$ 180
			</td>
			<td class="text-right">
				US$ 215
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Standard partial view
			</td>
			<td>
				Satellive TV<br>
				Mini bar<br>
				Safe deposit box
			</td>
			<td class="text-right">
				US$ 65
			</td>
			<td class="text-right">
				US$ 80
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Additional bed
			</td>
			<td>
				Available only in the Standard non ocean <br />
				view room and the Ocean view Suite
			</td>
			<td class="text-right">
				US$ 30
			</td>
			<td class="text-right">
				US$ 30
			</td>
		</tr>
	</tbody>
</table>

{% include "rates-notes.html" %}

{% endblock content %}