{% extends "ph.html" %}

{% block content %}
	<div class="lg:flex">
		<div class="w-1/3 pr-4">
			{{ page.content | safe }}
		</div>
		<div class="w-2/3">
			<h2>Location</h2>

			<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;s=AARTsJpVYSZmkSZCy8Cg4z2pbomYktHyYg&amp;msa=0&amp;msid=118095820405331246651.000443ff468ef6c5ca1ef&amp;ll=-12.185677,-77.007294&amp;spn=0.469821,0.823975&amp;z=10&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;om=0&amp;msa=0&amp;msid=118095820405331246651.000443ff468ef6c5ca1ef&amp;ll=-12.185677,-77.007294&amp;spn=0.469821,0.823975&amp;z=10&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

		</div>
	</div>
{% endblock content %}