{% extends "ph.html" %}

{% block content %}
<h1>Gallery</h1>

<section class="mt-6 flex flex-wrap">
	<a class="thumbnail" href="/ph/gallery/ph01.jpg"   data-lightbox="gallery" >
		<img src="/ph/gallery/ph01t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph02.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph02t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph03.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph03t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph04.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph04t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph05.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph05t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph06.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph06t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph07.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph07t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph08.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph08t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph09.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph09t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph10.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph10t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph11.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph11t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph12.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph12t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph13.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph13t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph14.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph14t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph16.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph16t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph17.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph17t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph18.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph18t.jpg" alt="..." />
	</a>

	<a class="thumbnail" href="/ph/gallery/ph19.jpg"  data-lightbox="gallery" >
		<img src="/ph/gallery/ph19t.jpg" alt="..." />
	</a>

</section>

{% endblock content %}