<nav class="p-3 bg-black flex items-center">
	<a href="/" class="text-white mr-6 no-underline">
		<img src="/logo-sml.png">
	</a>
	<a href="{{ get_url(path="/punta-hermosa/gallery") }}" class="text-white mr-3 no-underline">Gallery</a>
	<a href="{{ get_url(path="/punta-hermosa/rates") }}" class="text-white mr-3 no-underline">Rates</a>
	<a href="{{ get_url(path="/punta-hermosa/contact") }}" class="text-white mr-3 no-underline">Contact</a>
	<a href="{{ get_url(path="/punta-hermosa/surf-report") }}" class="text-white no-underline">Surf Report</a>
</nav>