{% extends "mancora.html" %}

{% block content %}
<h1>Rates</h1>

<table class="w-full">
	<tbody>
		<tr>
			<th>
				&nbsp;
			</th>
			<th>
				Inclusions
			</th>
			<th class="text-right">
				For tourist and <br />non residents<sup>*1 *2 *3</sup>
			</th>
			<th class="text-right">
				For residents <sup>*2 *3</sup>
			</th>
		</tr>
		<tr>
			<td class="font-bold">
				Suite
			</td>
			<td>
				Cable TV<br/>
				Mini bar<br/>
				AC<br/>
				Jacuzzi<br/>
				Terraces and hammocks<br/>
				Safe deposit box
			</td>
			<td class="text-right">
				US$ 400
			</td>
			<td class="text-right">
				US$ 472
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Ocean view room
			</td>
			<td>
				Cable TV<br/>
				Terraces and hammocks<br/>
				Safe deposit box
			</td>
			<td class="text-right">
				US$ 118
			</td>
			<td class="text-right">
				US$ 140
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Standard room
			</td>
			<td>
				Cable TV<br/>
				Patio and hammocks<br/>
				Safe deposit box
			</td>
			<td class="text-right">
				US$ 103
			</td>
			<td class="text-right">
				US$ 122
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Simple Basic room
			</td>
			<td>
				Cable TV<br/>
				Safe deposit box
			</td>
			<td class="text-right">
				US$ 96
			</td>
			<td class="text-right">
				US$ 113
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Additional bed
			</td>
			<td>
				Available only in the Ocean view and standard rooms
			</td>
			<td class="text-right">
				US$ 50
			</td>
			<td class="text-right">
				US$ 50
			</td>
		</tr>
	</tbody>
</table>


<h2>Shared accomodation</h2>

<table class="w-full">
	<tbody>
		<tr>
			<th>
				&nbsp;
			</th>
			<th class="text-right">
				For tourist and <br />non residents <sup>*2 *3</sup>
			</th>
			<th class="text-right">
				For residents <sup>*2 *3</sup>
			</th>
		</tr>
		<tr>
			<td class="font-bold">
				Bed with shared bath. Breakfast, lunch and dinner 2 guests.
			</td>
			<td class="text-right">
				US$128
			</td>
			<td class="text-right">
				US$ 140
			</td>
		</tr>
		<tr>
			<td class="font-bold">
				Bed with shared bath. 2 guest
			</td>
			<td class="text-right">
				US$ 68
			</td>
			<td class="text-right">
				US$ 80
			</td>
		</tr>
	</tbody>
</table>

{% include "rates-notes.html" %}

{% endblock content %}


