---
layout: default.liquid
---
<nav class="p-3 bg-black flex items-center">
	<img src="/assets/logo-sml.png">
</nav>
<main class="p-6 pb-20">
	<div class="flex items-center justify-center mt-4">
		<div class="md:flex">
			<a href="/mancora" class="no-underline p-3">
				<h2 class="mt-0 mb-2">Mancora</h2>
				<img src="/assets/mancora/splash.jpg">
			</a>
			<a href="/ph" class="ml-4 no-underline p-3">
				<h2 class="mt-0 mb-2">Punta Hermosa</h2>
				<img src="/assets/ph/splash.jpg">
			</a>
		</div>
	</div>
</main>

{% include "footer.html" %}