---
layout: default.liquid
---
<nav class="p-3 bg-black text-white">
	<p class="text-sm leading-none">Hostal</p>
	<p class="text-2xl leading-none">Casabarco</p>
</nav>
<main class="bg-sky-300 text-sky-900">
	<div class="items-center justify-center">
		<div class="md:flex">
			<a href="/mancora">
				<h2 class="p-2 underline">Mancora</h2>
				<img src="/assets/mancora/splash.jpg">
			</a>
			<a href="/punta-hermosa">
				<h2 class="p-2 underline">Punta Hermosa</h2>
				<img src="/assets/ph/splash.jpg">
			</a>
		</div>
	</div>
</main>
