---
layout: default.liquid
---
<nav class="p-3 text-white bg-gradient-to-r from-black to-sky-900">
	<p class="text-sm leading-none">Hostal</p>
	<p class="text-2xl leading-none">Casabarco</p>
</nav>
<main class="bg-sky-800 text-sky-100 pb-8 flex items-center justify-center">
	<div class="md:flex">
		<a href="/mancora" class="hover:bg-sky-900">
			<h2 class="p-4 pt-6 underline">Mancora</h2>
			<img src="/assets/mancora/splash.jpg" >
		</a>
		<a href="/punta-hermosa" class="hover:bg-sky-900">
			<h2 class="p-4 pt-6 underline">Punta Hermosa</h2>
			<img src="/assets/ph/splash.jpg">
		</a>
	</div>
</main>
